<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/estilo.css' />
    <title>Document</title>
</head>
<body>
    
    <section class="main">
        <div class="form-login">
    
        <h1> Escolha Um caro para Alugar </h1>
    
            <form action="/cadastro" method="POST">
                 <div class="nav">
                 <img src="https://cdn.autopapo.com.br/box/uploads/2021/04/02030041/fiat-marea-prata-bari-de-frente-em-movimento.jpg" alt="" width="100px" height="100px">
                    <p>ahhshhhsh</p>
                    
             </div>
             </div>
    
    </section>
    
   

    
</body>
</html>