<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<section class="main">
    <div class="form-login">

        <h1>ACESSAR CONTA</h1>

        <form action="/criar-contas" method="post">
            <input type="text" name="nome" id="nome" placeholder="Nome completo" required>
            <input type="text" name="email" id="email" placeholder="E-mail" autofocus required>
            
            <input type="password" name="senha" id="senha" placeholder="Senha" required>
            <input type="submit" value="cadastrar">
        </form>
        </div>

</section>

</body>
</html>