<!DOCTYPE html>
<html>
  <head>
   
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title> login </title>
  </head>
  <body>
    
    <section class="main">

      <div class="form-login">

          <h1>ACESSAR CONTA</h1>

          <form action="/index" method="POST">
              <input type="text" name="username" id="username" placeholder="Nome"  required>
              <input type="password" name="password" id="password" placeholder="Senha" required>
              <input type="submit" value="Entrar">
          </form>

          <span><a href="/">Esqueci minha senha</a></span>

          <div class="new-user">
              <h2>Ainda não tem uma conta?</h2>

              <a href="/criar-conta">
                
                  <button>CRIAR CONTA</button>
              </a>

          </div>

      </div>

  </section>

  </body>
</html>
