<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <section class="main">

      <div class="form-login">

          <h1>ACESSAR CONTA</h1>

          <form action="/login" method="post">
              <input type="text" name="email" id="email" placeholder="E-mail" autofocus required>
              <input type="password" name="senha" id="senha" placeholder="Senha" required>
              <input type="submit" value="Entrar">
          </form>

          <span><a href="/recuperar-senha">Esqueci minha senha</a></span>

          <div class="new-user">
              <h2>Ainda não tem uma conta?</h2>

              <a href="/criar-conta">
                
                  <button>CRIAR CONTA</button>
              </a>

          </div>

      </div>

  </section>

  </body>
</html>
